<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: content">
<body>
<h2 th:text="${produit.id != null ? 'Modifier un produit' : 'Ajouter un produit'}"></h2>
<form th:action="@{/produits/save}" th:object="${produit}" method="post" class="card p-3">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label>Nom</label>
        <input type="text" class="form-control" th:field="*{nom}" required>
    </div>
    <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" th:field="*{description}"></textarea>
    </div>
    <div class="mb-3">
        <label>Catégorie</label>
        <select class="form-select" th:field="*{categorie}">
            <option th:each="c : ${categories}" th:value="${c}" th:text="${c}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label>Prix</label>
        <input type="number" class="form-control" th:field="*{prixUnitaire}" step="0.01" required>
    </div>
    <div class="mb-3">
        <label>Stock disponible</label>
        <input type="number" class="form-control" th:field="*{stockDisponible}">
    </div>
    <button class="btn btn-success" type="submit">Enregistrer</button>
</form>
</body>
</html>
